body {
    background-color: #EDEBD7;
    color: #352208;
}

.navbar {
    background-color: #352208;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #EDEBD7;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #5E0818;
    color: #EDEBD7;
}

.navbar a:active {
    background-color: #C36F09;
    color: #EDEBD7;
}

.page_title {
    font-size: 35px;
    padding: 10px 40px;
}

p {
    padding: 10px 40px;
}
h2 {
    padding: 10px 40px;
}

h3 {
    padding: 10px 40px;
}

img {
    padding: 10px 40px;
}

figcaption {
    padding: 10px 40px;
}

.image_row {
    display: flex;
}

.image_column {
    flex: 33.3%;
    padding: 5px;
}