body {
    background-color: #EDEBD7;
    color: #352208;
    padding: 10px 40px;
}

.navbar {
    background-color: #352208;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #EDEBD7;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #5E0818;
    color: #EDEBD7;
}

.navbar a:active {
    background-color: #C36F09;
    color: #EDEBD7;
}

/* hover classes initially hidden, visible when hovering over character_hoverable. Need to figure out positioning. */

.character_hoverable {
    background-color: #8b0000;
    color: #EDEBD7;
}

.char_hover {
    display: none;
    position: relative;
}

.character_hoverable:hover + .char_hover {
    background-color: #5E0818;
    color: #EDEBD7;
    opacity: 0.5;
    visibility: visible;
    position: relative;
}

/*  .char_hover:hover {
    background-color: #5E0818;
    color: #EDEBD7;
    opacity: 0.5;
}*/

.emotion_hoverable {
    background-color: #013220;
    color: #EDEBD7;
}

.emotion_hoverable:hover + .emot_hover {
    background-color: #013220;
    color: #EDEBD7;
    opacity: 0.5;
    visibility: visible;
    position: relative;
}

.emot_hover {
    display: none;
    position: relative;
}

.action_hoverable {
    background-color: #000080;
    color: #EDEBD7;
}

.action_hoverable:hover + .act_hover {
    background-color: #000080;
    color: #EDEBD7;
    opacity: 0.5;
    visibility: visible;
    position: relative;
}

act_hover {
    display: none;
    position: relative;
}